* {
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(227, 227, 227);
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    width: 90%;
    margin: 0 auto;
    background-color: #7c7c7c;
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.header-left ,.header-right{
    display: flex;
    width: 50%;
    align-items: center;
    
}
.header-right{
    justify-content: flex-end;
}

.left-btn ,.right-btn{
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
}
.bloc{
    display: flex;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    padding: 10px;
}
.text-btn{
    padding:2px 20px;
}